.containerContact{
        
    padding-top: 40px;

}
.imgMje{
    width: 40px;
    margin-left: 40%;
    margin-top: 10px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 38%;
    border-radius: 20px;
    width: 350px;
    height: 480px;
    background-color: var(--color-black);
    box-shadow: rgba(51, 45, 45, 0.25) 0px 14px 28px, rgba(244, 248, 246, 0.22) 0px 6px 6px;
}
.inputs{
padding: 10px;

}
.btn{
    width: 90px;
    height: 30px;
    background: none;
    text-align: center;
    padding: 3px;
    border:1px solid  var(--color-green) ;
    color: var(--color-green);
    border-radius: 5px;
    margin-top: 20px;
}
.btn:hover{
    cursor: pointer;
    background-color: var(--color-blue);
    color: var(--color-white);
}
.text-input{
width: 300px;
height: 30px;
border-radius: 5px;
border: none;
margin-bottom:10px ;
}

.icon2{
    width: 35px;
}
.otrosIconos{
    margin-top: 30px;
}
.otrosIconos a{
    text-decoration: none;
}
.pregunta{
    padding-top: 5px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    color: var(--color-green);
 
}
textarea {
    width: 300px;
    height: 120px;
    resize: none;
    border-radius: 5px;
  }

  @media screen and (max-width: 1024px) {
    .form{
        margin-left: 30%;
    }
  }
  @media screen and (max-width: 768px) {
    .form{
        width: 300px;
        height: 480px;
    }
    .text-input{
        width: 250px;
    }
    textarea{
        width: 250px;
    }
  }
  @media screen and (max-width: 425px) {
 
    .text-input{
        width: 350px;
        height: 40px;
        font-size: 30px;
    }
    .btn{
        width: 150px;
        height: 50px;
        font-size: 30px;
    }
    textarea{
        width: 350px;
        font-size: 30px;
    }
    .form{
        margin-left: 13%;
        margin-top: 130px;
        width: 500px;
        height: 610px;
    }
    .imgMje{
        width: 70px;
        margin-left: 40%;
    }

  }
  @media screen and (max-width: 320px) {
    .pregunta{
        font-size: 30px;
    }
    .imgMje{
        width: 80px;
        margin-left: 40%;
    }
    .btn{
        width: 200px;
        font-size: 25px;
    }
    .form{
        width: 550px;
        height: 650px;
        margin-left: 10%;

    }
    .text-input, textarea{
        width: 390px;
       font-size: 25px;
    }
    .containerContact{
        padding-top: 2px;
    }
  }