:root {
    --color-green: rgb(109, 243, 64);
    --color-blue: rgb(25, 10, 84);
    --color-white: rgb(222, 222, 234);
    --color-black: rgb(5, 5, 10);
  }
*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: monospace ;
  scroll-behavior: smooth;
  
  
}
body{

background: rgb(58,103,180);
background: linear-gradient(90deg, rgb(89, 9, 143) 0%, rgb(60, 18, 165) 49%, rgba(2,0,9,1) 100%)
   
}
.title{
text-align: left;
color:var(--color-green);

font-size: 70px;
}

.container{
    
    display:grid;
    grid-template-columns: repeat(auto-fill, 570px);
    gap: 290px; /* para separar entre ellos */
    padding-top: 120px;
    flex-wrap: nowrap;
}
.img{
  
    height: 420px;
    width: 430px;
    object-fit: cover;
    border-radius: 50%;
}

 .span{
    display:block;
    color:var(--color-green);
    border-right: 4px solid;
    width: 23ch;
    animation:maquina 2.5s steps(26),blink .6s infinite step-end alternate ;
    white-space: nowrap;
    overflow: hidden;
    font-size: 50px;
/*     animation-delay:2s; */
  
}
.text{
    margin-top: 120px;
    margin-left: 150px;
 
}

 .btnContacto{
  
    text-decoration: none;
    float: left;
    color: var(--color-green);
    font-size: 20px;
    margin-top: 30px;
    border: 1.5px solid var(--color-white);
    border-radius: 3px;
    text-align: center;
    width: 180px;
    height: 45px;
    padding: 7px;
    background-color: var(--color-blue);
    background: linear-gradient(150deg, #06196ec9,  #af0f87c5, #057043);
    background-size: 400% 300%;
    animation: BgGradient 5s ease infinite;
}
.btnContacto:hover{
    background-color: var(--color-blue);
    color: rgb(199, 236, 199);
    cursor: pointer;
  
}
@keyframes BgGradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

::-webkit-scrollbar{
   
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background: var(--color-green);
    border-radius: 30px;
   
}
::-webkit-scrollbar-thumb:hover{
 background: rgba(109, 243, 64, 0.609);
 
}
::-webkit-scrollbar-track{
    background: var(--color-black);
}
section{
    height: 90vh;
  
}

footer{
  position:fixed;
  text-align: center;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
}
.pie{
  color: var(--color-white);
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  font-family:cursive;

  opacity: 0.6;
}

/* flecha hacia abajo */

.arrow-container {
    display: block;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(0deg);
    margin-top: 290px;
  }
  .arrow-container:hover {
    cursor: pointer;
  }
  .arrow-container:hover .arrow {
    top: 50%;
  }
  .arrow-container:hover .arrow:before {
    transform: translate(-50%, -50%) rotateZ(-30deg);
  }
  .arrow-container:hover .arrow:after {
    transform: translate(-50%, -50%) rotateZ(30deg);
  }
  

  .arrow:before, .arrow:after {
    transition: all 0.4s ease;
    content: "";
    display: block;
    position: absolute;
    transform-origin: bottom right;
    background:var(--color-green);
    width: 4px;
    height: 50px;
    border-radius: 10px;
    transform: translate(-50%, -50%) rotateZ(-45deg);
  }
  .arrow:after {
    transform-origin: bottom left;
    transform: translate(-50%, -50%) rotateZ(45deg);
  }




/* -------------------------------------------------------------------------- */


@keyframes blink{
    50%{
       border-color: transparent;
    }
}
@keyframes maquina{

 0%{
    width: 0;
 }
}


/* medias */
@media screen and ( max-width:1200px) {
  body{
    background: rgb(46, 9, 105)
  }
  .container{
    display:grid;
    grid-template-columns: repeat(auto-fill, 450px);
    gap: 120px; /* para separar entre ellos */
  }
  .img{
    width: 400px;
    height: auto;
  }
  .text{
    margin-left: 20px;
  }
  .title{
    font-size: 50px;
  }
  .span{
    font-size: 40px;
  }
  .arrow-container{
    left: 50%;
    top: 40%;
  }
  #inicio,#sobre,#contacto,#portafolio{
    height: auto;
    padding-bottom: 50px; 
  }
  #sobre,#contacto{
    background-color: #054970;
  }
}
@media screen and ( max-width:992px) {

  .container{
    display: flex;
    flex-direction: column-reverse;
    
  }
  #inicio,#sobre,#contacto,#portafolio{
    width: 1050px;
    height: auto;
    padding-bottom: 120px;
  }

  .img{

    width: 650px;
    border-radius: 12px;
    height: auto;
    margin-left: 1%;
  }
  .divImg{
    margin-top: 100px;
    height: 200px;
  }
 .text{
  margin-left: 10px;
 
 }
 .arrow{
  display: none;
}
.title{
  font-size: 90px;
  margin-left: 30px
}
.span{
  margin-left: 30px;
  font-size: 70px;
  margin-top: 20px;
}
.btnContacto{
  font-size: 50px;
  width: 300px;
  height: 90px;
  margin-top: 40px;
  margin-left: 30px
}
.pie{
  font-size: 25px;

}
footer{
  margin-bottom: 40px;
}
}
 
  
@media screen and (max-width: 768px) {

  .pie{
    font-size: 30px;
  
  }
  footer{
    margin-bottom: 60px;
  }
  .title{
    font-size: 100px;
  }
  #sobre,#contacto{
    background-color: #054970;
  }
  
  .img{
    display: block;
    width: 900px;
    border-radius: 12px;
    height: auto;
    margin-left: 10%;
   

  }
    .text{
     text-align: left;
     margin-top: 500px;
     margin-left: 10px;
    
    }
    .span{
      margin-top: 30px;
      margin-left: 10px;
      font-size: 90px;
    }
 
  .pie{
    margin-bottom: 40px;
  }
  .btnContacto{
    margin-top: 70px;
    margin-left: 30%;
    width: 500px;
    height: 120px;
    font-size: 45px;
  }
  #inicio,#sobre,#contacto,#portafolio{
    width: 1180px;
    height: auto;
    padding-bottom: 120px;
  }
    
}


@media screen and ( max-width:600px) {
  
body{
  background: rgb(46, 9, 105)
}
.pie{
  font-size: 30px;

}
footer{
  margin-bottom: 30px;
}
.title{
  font-size: 120px;
}

  .text{
   text-align: left;
   margin-top: 600px;
   margin-left: 10px;
  
  }
  .span{
    margin-top: 50px;
    margin-left: 10px;
    font-size: 90px;
  }

  .img{
    display: block;
    width: 1100px;
    border-radius: 10px;
    height: auto;
    margin-left: 4%;
   

  }
.container{

  display: flex;
  flex-direction: column-reverse;


}
.divImg{
  margin-top: 250px;
  height: 300px;
}
  .arrow{
    display: none;
  }
.pie{
  margin-bottom: 20px;
}
.btnContacto{
  margin-top: 200px;
  margin-left: 30%;
  width: 500px;
  height: 130px;
  font-size: 45px;
}
#inicio,#sobre,#contacto,#portafolio{
  width: 1200px;
  height: auto;
  padding-bottom: 120px;
}

}

  
    
