:root {
    --color-green: rgb(109, 243, 64);
    --color-blue: rgb(25, 10, 84);
    --color-white: rgb(222, 222, 234);
    --color-black: rgb(5, 5, 10);
  }
*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: monospace ;
  scroll-behavior: smooth;
  
  
}
body{

  background: rgb(58,103,180);
background: linear-gradient(90deg, rgb(142, 45, 199) 0%, rgb(60, 18, 165) 49%, rgba(2,0,9,1) 100%)
   
}
.title{
text-align: left;
color:var(--color-green);

font-size: 60px;
}

.container{
    
    display:grid;
    grid-template-columns: repeat(auto-fill, 570px);
    gap: 290px; /* para separar entre ellos */
    padding-top: 100px;
    flex-wrap: nowrap;
}
.img{
  
    height: 420px;
    width: 430px;
    object-fit: cover;
    border-radius: 50%;
}

 .span{
    display:block;
    color:var(--color-green);
    border-right: 4px solid;
    width: 23ch;
    animation:maquina 2.5s steps(26),blink .6s infinite step-end alternate ;
    white-space: nowrap;
    overflow: hidden;
    font-size: 50px;
/*     animation-delay:2s; */
  
}
.text{
    margin-top: 120px;
    margin-left: 150px;
 
}

 .btnContacto{
  
    text-decoration: none;
    float: left;
    color: var(--color-green);
    font-size: 18px;
    margin-top: 30px;
    border: 1.5px solid var(--color-white);
    border-radius: 3px;
    text-align: center;
    width: 150px;
    height: 40px;
    padding: 7px;
    background-color: var(--color-blue);
    background: linear-gradient(150deg, #06196ec9,  #670fafc5, #057059);
    background-size: 400% 300%;
    animation: BgGradient 5s ease infinite;
}
.btnContacto:hover{
    background-color: var(--color-blue);
    color: rgb(199, 236, 199);
    cursor: pointer;
  
}
@keyframes BgGradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

::-webkit-scrollbar{
   
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background: var(--color-green);
    border-radius: 30px;
   
}
::-webkit-scrollbar-thumb:hover{
 background: rgba(109, 243, 64, 0.609);
 
}
::-webkit-scrollbar-track{
    background: var(--color-black);
}
section{
    height: 100vh;
    border-bottom: 2px;
}

footer{
  position:fixed;
  text-align: center;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
}
.pie{
  color: var(--color-white);
  margin-bottom: 10px;
  font-size: 12px;
  text-align: center;
  font-family:cursive;

  opacity: 0.6;
}

/* flecha hacia abajo */

.arrow-container {
    display: block;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(0deg);
    margin-top: 290px;
  }
  .arrow-container:hover {
    cursor: pointer;
  }
  .arrow-container:hover .arrow {
    top: 50%;
  }
  .arrow-container:hover .arrow:before {
    transform: translate(-50%, -50%) rotateZ(-30deg);
  }
  .arrow-container:hover .arrow:after {
    transform: translate(-50%, -50%) rotateZ(30deg);
  }
  

  .arrow:before, .arrow:after {
    transition: all 0.4s ease;
    content: "";
    display: block;
    position: absolute;
    transform-origin: bottom right;
    background:var(--color-green);
    width: 4px;
    height: 50px;
    border-radius: 10px;
    transform: translate(-50%, -50%) rotateZ(-45deg);
  }
  .arrow:after {
    transform-origin: bottom left;
    transform: translate(-50%, -50%) rotateZ(45deg);
  }




/* -------------------------------------------------------------------------- */


@keyframes blink{
    50%{
       border-color: transparent;
    }
}
@keyframes maquina{

 0%{
    width: 0;
 }
}


/* medias */
@media screen and (max-width: 1024px) {

.text{
  margin-top: 30px;
justify-content: center;
}

.img{
  display: none;
}
 
}  
@media screen and (max-width: 768px) {
  .text{
    margin-top: 30px;
    margin-left: 30px;
  }
    
}

@media screen and ( max-width:425px) {
body{
  background: rgb(46, 9, 105)
}
#sobre,#contacto{
  background-color: #054970;
}
  .container{
  margin-left: 10px;
  }
  section{
    height: 830px;
    width: 670px;
    border-bottom: 2px;
   
  }
  .text{
   text-align: left;
   margin-top: 200px;
  }
  .span{
    margin-top: 30px;
    font-size: 48px;
  }

  .arrow{
    display: none;
  }
.pie{
  margin-bottom: 10px;
}
.btnContacto{
  margin-top: 90px;
  width: 200px;
  height: 60px;
}
#inicio,#sobre,#contacto{
  height: 1130px;
}
#portafolio{
  height: auto;
}
}

  
    
