.nav{
    height: 80px;

    color: var(--color-green);

}
@keyframes BgGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.containerNav{
    display: flex;
    height: 80px;
    width: 100%;
    margin-left: 0;
    justify-content:space-evenly;
    align-items: center;
    position: fixed;
    background: linear-gradient(150deg, #246fe0c9,  #ce15c5c5, #099b7b);
    background-size: 400% 300%;
    animation: BgGradient 8s ease infinite;
    z-index: 100;
}
.nav_img{
width: 120px;
margin-top: 75px;

}
.nav_menu{
    display: grid;
    grid-auto-flow:column;
    gap: 3em;

}
.nav_input:checked + .nav_menu{
    background-color: var(--color-black);
    z-index: 100;
}
.nav_label, .nav_input{
display: none;
}
.nav_item{
    font-size: 23px;
    color: var(--color-green);
    text-decoration: none;
    --clippy:polygon(0 0,0 0, 0 100%, 0 100%)
}
.nav_item::after{
    content: "";
  
    display: block;
    background-color: var(--color-green);
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .3s;
}
.nav_item:hover{
    --clippy:polygon(0 0,100% 0, 100% 100%. 0 100%)
}

@media screen and ( max-width:992px) {
    .nav_item{
        font-size: 32px;
    }
    .containerNav{
        height: 130px;
        z-index: 100;
        position: fixed;
    }
 
}

@media(max-width:768px){
    .nav_item{
        font-size: 40px;
    }
    .containerNav{
        height: 130px;
    }

}
@media(max-width:600px){
  
    .nav_label{
        display: block;
        cursor: pointer;
    }
    .containerNav{
        display: flex;
        justify-content: flex-start;
        margin-left: 25px;
        background: none;
    }
    .nav_menu{
        position: fixed;
        top:150px;
        bottom: 0;
        background-color: var(--color-blue);
        width: 100%;
        left: 0%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
    }
    .nav_input:checked + .nav_menu{
        clip-path: circle(100% at center);
    }
    .nav_item{
        font-size: 60px;
    }
}