.containerPerfil{

    display: flex;
    padding-top: 40px;
    justify-content: center;
  
}
.foto{
    width: 280px;
    border-radius: 50%;
    border: 2px solid var(--color-green);

}
.foto:hover{
    opacity: 0.9;
}
.parrafo{
    font-size: 20px;
    text-align:start;
    margin-left: 50px;
    margin-top: 40px;
    width: 550px;
    color: var(--color-green);
}
.h3{
    color: var(--color-green);
    padding-top: 100px;
    text-align: center;
    font-size: 30px;
}
.containerIcon{
    display:flex;
    justify-content:center;
    align-items: center;
    margin-top: 50px;
}
.iconos{
    width: 25px;
    margin-right: 5px;
}

.iconos:hover{
opacity: 0.8;
}
.iconp{
font-size: 20px;
margin-right: 8px;
color: var(--color-green);
}

@media screen and (max-width: 768px) {
  .containerPerfil{
    display: block;
    justify-content: center;
  }
      .foto{
        width: 200px;
        border-radius: 50%;
      }
      .parrafo{
        font-size: 17px;
        align-items: center;
        margin-left: 20%;
      }
    .iconp{
        font-size: 18px;
    }
    .containerIcon{
        margin-top: 20px;
    }
  }
  @media screen and (max-width: 425px) {
    .iconp{
        font-size: 30px;
    }

    .parrafo{
        margin-left: 10%;
        font-size: 30px;
    }
    .foto{
        width: 270px;
       
    }
    .containerIcon{
        margin-top: 90px;
    }
.divPrincipal{
    padding-top: 20px;
}
  }

  @media screen and (max-width: 320px) {
    .parrafo{
        margin-left: 10%;
        font-size: 30px;
    }
    .foto{
        width: 300px;
       
    }
    .h3{
        font-size: 40px;
        padding-top: 2px;
    }
    .iconp{
        font-size: 30px;
    }
  
  }